<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>列表渲染</title>
</head>

<body>

    <div id="root">
        <!-- 
            
         -->
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(p, index) in filterPersons" :key="p.id">
                {{p.name}} - {{p.age}} - {{p.gender}}
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false
    // 监视属性实现
    //#region 
    /*const vm = new Vue({
        el: '#root',
        data: {
            keyWord: '',
            persons: [{
                id: '001',
                name: '马冬梅',
                age: 18,
                gender: '女'
            }, {
                id: '002',
                name: '周冬雨',
                age: 19,
                gender: '女'
            }, {
                id: '003',
                name: '周杰伦',
                age: 20,
                gender: '男'
            }, {
                id: '004',
                name: '马保国',
                age: 30,
                gender: '男'
            }, ],
            filterPersons: [],
            // unshift():在数组前面添加元素，push()在数组后面添加元素
        },
        watch: {
            keyWord: {
                immediate: true,
                handler(val) {
                    this.filterPersons = this.persons.filter((p) => {
                        // indexOf()返回匹配到的值的索引，如果没有找到就返回-1，注意，空字符串也返回0
                        return p.name.indexOf(val) !== -1
                    })
                }
            }
        }
    }) */
    //#endregion
    
    //计算属性实现
    const vm = new Vue({
        el: '#root',
        data: {
            keyWord: '',
            persons: [{
                id: '001',
                name: '马冬梅',
                age: 18,
                gender: '女'
            }, {
                id: '002',
                name: '周冬雨',
                age: 19,
                gender: '女'
            }, {
                id: '003',
                name: '周杰伦',
                age: 20,
                gender: '男'
            }, {
                id: '004',
                name: '马保国',
                age: 30,
                gender: '男'
            }, ],
        },
        computed: {
            //计算属性在初始化和计算属性所依赖的值发生改变时调用
            filterPersons(){
                return this.persons.filter((p) => {
                    // indexOf()返回匹配到的值的索引，如果没有找到就返回-1，注意，空字符串也返回0
                    return p.name.indexOf(this.keyWord) !== -1
                })
                
            }
        }
    })
</script>

</html>